version: '3'
services:
  postgres-container:
    image: postgres:13.2-alpine
    restart: always
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: 123456
    volumes:
      - db_data:/var/lib/postgres
      - ./init-database.sh:/docker-entrypoint-initdb.d/init-database.sh
    ports:
      - 5432:5432
    networks:
      - app_net
  pgadmin-container:
    image: dpage/pgadmin4
    environment:
      PGADMIN_DEFAULT_EMAIL: "admin@email.com"
      PGADMIN_DEFAULT_PASSWORD: "123456"
    ports:
      - 16543:80
    depends_on:
      - postgres-container
    networks:
      - app_net
  teacherbot-backend-container:
    image: teacherbot-backend:latest
    restart: on-failure
    build:
      context: ./
      dockerfile: Dockerfile
    depends_on:
      - postgres-container
      - pgadmin-container
    ports:
      - 8080:8080
    environment:
      - DATASOURCE_URL=jdbc:postgresql://postgres-container:5432/teacherbot_backend_dev
      - DATASOURCE_USERNAME=admin
      - DATASOURCE_PASSWORD=123456
    networks:
      - app_net
networks:
  app_net:
volumes:
  db_data: